[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
#MimeType=application/zip;application/x-rar;
MimeType=all/all;
Actions=1rarzip2cbrcbz;2cbrcbz2rarzip;3cbz;4dirjpgrar;5dirjpgcomprar;6count;
X-KDE-Submenu=Comic Book
X-KDE-Priority=TopLevel
Icon=speech_balloon
#X-KDE-StartupNotify=false
#StartupNotify=false

[Desktop Action 1rarzip2cbrcbz]
Name=Change zip and rar extensions to cbz and cbr
Icon=speech_balloon
Exec=compresedtocbx %F

[Desktop Action 2cbrcbz2rarzip]
Name=Change cbz and cbr extensions back to zip and rar
Icon=speech_balloon
Exec=compresedtocbx -u %F

[Desktop Action 3cbz]
Name=Just add cbz extension
Icon=speech_balloon
Exec=compresedtocbx -z %F

[Desktop Action 4dirjpgrar]
Name=Change png files in dir to jpg and create cbr file
Icon=folder-tar
Exec=compresedtocbx -j %F

[Desktop Action 5dirjpgcomprar]
Name=Change png files in dir to low qulity jpg and create cbr file
Icon=folder-tar
Exec=compresedtocbx -r %F

[Desktop Action 6count]
Name=Counts number of pages on cbz and cbr files
Icon=speech_balloon
Exec=compresedtocbx -c %F
