[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
#MimeType=application/zip;application/x-rar;
MimeType=all/all;
Actions=rarzip2cbrcbz;cbrcbz2rarzip;cbz;dirjpgrar;dirjpgcomprar;count;
X-KDE-Submenu=Comic Book
X-KDE-Priority=TopLevel
Icon=speech_balloon
#X-KDE-StartupNotify=false
#StartupNotify=false

[Desktop Action rarzip2cbrcbz]
Name=Change zip and rar extensios to cbz and cbr
Icon=speech_balloon
Exec=compresedtocbx %F

[Desktop Action cbrcbz2rarzip]
Name=Change cbz and cbr extensios back to zip and rar
Icon=speech_balloon
Exec=compresedtocbx -u %F

[Desktop Action cbz]
Name=Just add cbz extensios
Icon=speech_balloon
Exec=compresedtocbx -z %F

[Desktop Action dirjpgrar]
Name=Change png files in dir to jpg and create cbr file
Icon=folder-tar
Exec=compresedtocbx -j %F

[Desktop Action dirjpgcomprar]
Name=Change png files in dir to low qulity jpg and create cbr file
Icon=folder-tar
Exec=compresedtocbx -r %F

[Desktop Action count]
Name=Counts number of pages on cbz and cbr files
Icon=speech_balloon
Exec=compresedtocbx -c %F
